* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  background: linear-gradient(319deg, #003c43, #7469b6, #2d3250, #643843);
  background-size: 800% 800%;
  animation: AnimationName 15s ease infinite;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font: 80px "Salsa", cursive, sans-serif;
}

h1:hover {
  cursor: pointer;
}

h1 img {
  width: 50px;
}

h2 {
  font: 40px "Courier New", Courier, monospace;
}

.cards {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.cards p {
  font: 30px "Salsa", cursive, sans-serif;
}

.player1,
.player2 {
  flex: 1 1 auto;
}

footer {
  font: 20px "Courier New", Courier, monospace;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #222;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 19%;
  }
  50% {
    background-position: 100% 82%;
  }
  100% {
    background-position: 0% 19%;
  }
}

@media (max-width: 668px) {
  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }
  .cards img {
    width: 150px;
  }
  h1 {
    font: 45px "Salsa", cursive, sans-serif;
  }
  h1 img {
    width: 30px;
  }
  h2 {
    font: 18px "Courier New", Courier, monospace;
  }
}
